@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --persiangreen: #1b998b;
  --magnolla: #f8f1ff;
  --thistle: #decdf5;
  --dimgrey: #656176;
  --davygrey: #534d56;
  --white:#ffffff;
  --darkerwhite:#ece8e8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {

}
