@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --persiangreen: #1b998b;
  --magnolla: #f8f1ff;
  --thistle: #decdf5;
  --dimgrey: #656176;
  --davygrey: #534d56;
  --white:#ffffff;
  --darkerwhite:#ece8e8;
}
@keyframes popOut {
  0% {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 0 5px rgba(0, 255, 255, 0.2);
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.6);
  }
  100% {
    transform: scale(1.05);
    opacity: 1;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.4);
  }
}

.pop-out-hover {
  @apply transition-transform duration-200 ease-in-out;
}

.pop-out-hover:hover {
  animation: popOut 0.3s ease-in-out forwards;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {

}
